.profile-head
  = image_tag @user.avatar.url, size: '72x72', alt: '', class: 'profile-avatar'
  h1 = @user.username

.profile-actions
  = link_to (user_signed_in? && current_user.id == @user.id ? 'Мои списки' : 'Списки аниме'), anime_user_list_path(@user), class: 'btn btn-main'
  - if user_signed_in? && current_user.id == params[:id].to_i
    = link_to "Выйти", destroy_user_session_path, class: 'btn'

- if user_signed_as_admin?
  section.admin-links
    h2 Администрирование
    .profile-actions
      = link_to 'Админ-панель', admin_index_path, class: 'btn'
      = link_to 'Adminer', "https://adminer.animeon.ru/?pgsql=db&username=animeon&db=animeon_prod&ns=public", class: 'btn'
      = link_to 'Redis Commander', "https://redis-commander.animeon.ru", class: 'btn'
