$svg-icons: (
        success: '<svg width="32px" height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 12.6111L8.92308 17.5L20 6.5" stroke="#a39dc4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>',
        success20: '<svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 12.6111L8.92308 17.5L20 6.5" stroke="#a39dc4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>',
        plan: '<svg width="32px" height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 17V21M8 21H16M10 10H14M12 8V12M6.2 17H17.8C18.9201 17 19.4802 17 19.908 16.782C20.2843 16.5903 20.5903 16.2843 20.782 15.908C21 15.4802 21 14.9201 21 13.8V6.2C21 5.0799 21 4.51984 20.782 4.09202C20.5903 3.71569 20.2843 3.40973 19.908 3.21799C19.4802 3 18.9201 3 17.8 3H6.2C5.0799 3 4.51984 3 4.09202 3.21799C3.71569 3.40973 3.40973 3.71569 3.21799 4.09202C3 4.51984 3 5.07989 3 6.2V13.8C3 14.9201 3 15.4802 3.21799 15.908C3.40973 16.2843 3.71569 16.5903 4.09202 16.782C4.51984 17 5.07989 17 6.2 17Z" stroke="#a39dc4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>',
        minus: '<svg width="32px" height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 12L18 12" stroke="#a39dc4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>',
        minus20: '<svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 12L18 12" stroke="#a39dc4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>',
        plus: '<svg width="32px" height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 12H18M12 6V18" stroke="#a39dc4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>',
        edit: '<svg width="32px" height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M21.1213 2.70705C19.9497 1.53548 18.0503 1.53547 16.8787 2.70705L15.1989 4.38685L7.29289 12.2928C7.16473 12.421 7.07382 12.5816 7.02986 12.7574L6.02986 16.7574C5.94466 17.0982 6.04451 17.4587 6.29289 17.707C6.54127 17.9554 6.90176 18.0553 7.24254 17.9701L11.2425 16.9701C11.4184 16.9261 11.5789 16.8352 11.7071 16.707L19.5556 8.85857L21.2929 7.12126C22.4645 5.94969 22.4645 4.05019 21.2929 2.87862L21.1213 2.70705ZM18.2929 4.12126C18.6834 3.73074 19.3166 3.73074 19.7071 4.12126L19.8787 4.29283C20.2692 4.68336 20.2692 5.31653 19.8787 5.70705L18.8622 6.72357L17.3068 5.10738L18.2929 4.12126ZM15.8923 6.52185L17.4477 8.13804L10.4888 15.097L8.37437 15.6256L8.90296 13.5112L15.8923 6.52185ZM4 7.99994C4 7.44766 4.44772 6.99994 5 6.99994H10C10.5523 6.99994 11 6.55223 11 5.99994C11 5.44766 10.5523 4.99994 10 4.99994H5C3.34315 4.99994 2 6.34309 2 7.99994V18.9999C2 20.6568 3.34315 21.9999 5 21.9999H16C17.6569 21.9999 19 20.6568 19 18.9999V13.9999C19 13.4477 18.5523 12.9999 18 12.9999C17.4477 12.9999 17 13.4477 17 13.9999V18.9999C17 19.5522 16.5523 19.9999 16 19.9999H5C4.44772 19.9999 4 19.5522 4 18.9999V7.99994Z" fill="#a39dc4"/></svg>',
        shiki: '<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 96 96" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,96.000000) scale(0.100000,-0.100000)" fill="#a39dc4" stroke="none"><path d="M485 789 c-40 -13 -160 -16 -208 -6 l-38 8 16 -24 c22 -35 108 -56 270 -67 130 -9 175 -19 175 -41 0 -6 5 -7 10 -4 6 3 10 22 10 41 0 26 -8 44 -29 65 -25 25 -37 29 -83 29 -29 0 -62 2 -73 5 -11 2 -33 -1 -50 -6z"/><path d="M223 712 c-19 -12 -33 -60 -26 -92 11 -59 95 -76 217 -44 82 22 212 22 253 1 56 -30 51 -39 -23 -37 -67 2 -256 -21 -342 -40 -54 -13 -102 -13 -102 0 0 5 -6 7 -14 4 -23 -9 -25 -52 -3 -80 20 -26 35 -28 95 -9 21 7 22 5 22 -53 0 -53 -4 -66 -41 -121 -22 -33 -45 -63 -50 -66 -19 -12 -8 -22 19 -17 36 6 132 99 132 129 0 12 -7 40 -16 62 -26 65 -18 83 46 97 30 7 59 13 64 14 8 0 1 -169 -8 -177 -2 -2 -20 3 -40 11 -35 15 -36 15 -26 -5 17 -31 83 -88 102 -89 26 0 68 68 68 110 0 32 -12 97 -26 143 -4 13 1 17 24 17 39 0 52 -35 52 -137 l0 -74 48 -50 c48 -50 85 -63 96 -33 12 30 6 48 -34 100 -29 38 -43 70 -53 118 -8 36 -10 66 -6 66 5 0 29 -10 53 -22 43 -21 46 -21 65 -4 31 28 33 55 5 83 -13 13 -24 30 -24 37 0 37 -62 59 -215 75 -267 29 -333 48 -277 80 16 10 15 10 -3 11 -11 0 -25 -4 -32 -8z"/></g></svg>',
        rollback: '<svg fill="#a39dc4" width="20px" height="20px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon"><path d="M793 242H366v-74c0-6.7-7.7-10.4-12.9-6.3l-142 112a8 8 0 0 0 0 12.6l142 112c5.2 4.1 12.9.4 12.9-6.3v-74h415v470H175c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h618c35.3 0 64-28.7 64-64V306c0-35.3-28.7-64-64-64z"/></svg>',
        search: '<svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="#a39dc4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>',
        search-active: '<svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="#9BAEA3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'
);

/**
* Characters to escape from SVGs
* Source: https://github.com/Threespot/frontline-sass/blob/master/src/variables/_escape-chars.scss
*/
$fs-escape-chars: (
        ' ': '%20',
        '\'': '%22',
        '"': '%27',
        '#': '%23',
        '/': '%2F',
        ':': '%3A',
        '(': '%28',
        ')': '%29',
        '%': '%25',
        '<': '%3C',
        '>': '%3E',
        '\\': '%5C',
        '^': '%5E',
        '{': '%7B',
        '|': '%7C',
        '}': '%7D',
);

/**
 * Helper to get URL-escaped inline SVG code
 */
@function svg($name) {
  // Check if icon exists
  @if not map-has-key($svg-icons, $name) {
    @error 'icon “#{$name}” does not exists in $svg-icons map';
    @return false;
  }

  // Get icon data
  $icon-map: map-get($svg-icons, $name);

  $escaped-string: '';
  $unquote-icon: unquote($icon-map);
  // Loop through each character in string
  @for $i from 1 through str-length($unquote-icon) {
    $char: str-slice($unquote-icon, $i, $i);

    // Check if character is in symbol map
    $char-lookup: map-get($fs-escape-chars, $char);

    // If it is, use escaped version
    @if $char-lookup != null {
      $char: $char-lookup;
    }

    // Append character to escaped string
    $escaped-string: $escaped-string + $char;
  }

  // Return inline SVG data
  @return url('data:image/svg+xml, #{$escaped-string} ');
}

/**
 * Convert all icons into custom properties
 */

:root {
  @each $name, $code in $svg-icons {
    --svg-#{$name}: #{svg($name)};
  }
}
