article.news-block
  = link_to 'Все новости', news_index_path, class: 'news-back'
  h1 = @news.title
  .news-meta
    = link_to @news.user, class: 'user-block'
      = image_tag @news.user.avatar.url, size: '32x32', alt: ''
      span = @news.user.username
    time datetime=@news.created_at.iso8601 = l(@news.created_at.to_date, format: :long)
  .news-body
    = simple_format(@news.body)
