doctype html
html
  head
    title = @title
    meta name="viewport" content="width=device-width,initial-scale=1"
    meta name="theme-color" content="#15142a"
    meta charset="UTF-8"
    meta content="website" property="og:type"
    meta content="Animeon" property="og:site_name"
    meta content="https://animeon.ru" property="og:url"
    meta content="https://animeon.ru/favicon.ico" property="og:image"
    meta content="Новейший аниме-кинотеатр" property="og:title"
    meta content="Animeon - Новейший аниме-кинотеатр с множеством популярных тайтлов в самом высоком качестве!" property="og:description"
    meta content="Animeon - Новейший аниме-кинотеатр с множеством популярных тайтлов в самом высоком качестве!" property="description"
    link rel='icon' type='image/x-icon' href='/favicon.ico'
    link rel="preconnect" href="https://mc.yandex.ru"
    link rel="preconnect" href="https://fonts.googleapis.com"
    link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""
    link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..700&family=Unbounded:wght@500..800&display=swap" rel="stylesheet"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag :application, media: 'all', data: { 'turbolinks-track' => 'reload'  }
    = javascript_pack_tag :application, data: { 'turbolinks-track' => 'reload' }
    script src="https://code.jquery.com/jquery-3.7.1.min.js"
    script src="/playerjs.js"
  body[
    class="#{controller_classes}"
    user_id="#{user_signed_in? ? user_id = current_user.id : 0}"
  ]
    header.site-header
      .site-header-inner
        = link_to root_path, class: 'logo', 'aria-label': 'Animeon, на главную'
          | animeon
        nav.nav-items aria-label="Основная навигация"
          = link_to "Каталог", animes_path, class: "nav-item #{'is-current' if controller_name == 'animes' && params[:status].blank?}"
          = link_to "Онгоинги", animes_path(status: :ongoing), class: "nav-item #{'is-current' if params[:status] == 'ongoing'}"
          = link_to "Новости", news_index_path, class: "nav-item #{'is-current' if controller_name == 'news'}"
        .animes-search-block
          label.field
            span.search-ico aria-hidden="true"
            span.visually-hidden Поиск аниме
            input.search-field[
              type="search"
              placeholder="Найти аниме"
              autocomplete="off"
            ]
          .search-results
        .nav-account
          - if user_signed_in?
            = link_to current_user.username.presence || "Профиль", user_path(id: current_user.id), class: "nav-item account-link"
          - else
            = link_to "Войти", new_user_session_path, class: "nav-item account-link"
    main.container
      = yield
    - if Rails.env.production?
      = render partial: 'layouts/metrika'
